
<app-header></app-header>

  <!-- home-body -->
  
<div class="container-fluid h-80">
    <section>
        <img src="../../assets/room2.jpg" class="img-fluid rounded border border-dark d-block w-100" />
    </section>
    <section>
        <img src="../../assets/room6.jpg" class="img-fluid rounded border border-dark d-block w-100" />
    </section>
    <section>
        <img src="../../assets/room7.jpg" class="img-fluid rounded border border-dark d-block w-100" />
    </section>
    <section> 
        <img src="../../assets/room5.jpg" class="img-fluid rounded border border-dark d-block w-100" /> 
      </section>
    <section>
        <img src="../../assets/room9.jpg" class="img-fluid rounded border border-dark d-block w-100" />
    </section>
</div>
<div class="container">
    <div class="row">
        <div class="col-8 mt-5 mb-2 mx-auto">
            <p class="text-center text-capitalize text-playfair">With the HOoBO room booking app, you can book and manage your stay on the go. Get the best deals and confirmed booking in three simple steps on the best hotel booking app in India. Just select your destination, choose from the best reviewed hotels and pay. That’s it. You will get the online booking voucher immediately. Just one tip, do not forget to check out our ‘App exclusive’ offers for lowest prices!</p>
            <p class="text-center text-capitalize text-playfair">Why HOoBO?<br><br>
                We are the fastest growing budget hotels brand in India with over 10,000+ rooms in 600+ hotels across 50+ cities. All FabHotels are centrally located close to business districts and major transportation hubs, hence, offering easy connectivity at all times.</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col">
           <img src="../../assets/icon-1.jpg" style="height: 120px; width:120px; margin-left:30%" >
          <h3 style="margin-left: 25%;">Luxury Hotels</h3>
          <span style="margin-left: 29%;"> All over the World </span>
        </div>
        <div class="col"><br>
            <img src="../../assets/icon-2.jpg" style="height: 97px; width:97px; margin-left:30%" ><br>
          <h3 style="margin-left: 19%;">Budget Friendly</h3>
          <span style="margin-left: 10%;">We choose the best that suits your budget</span>
        </div>
        <div class="col"><br>
            <img src="../../assets/icon-4.jpg" style="height: 97px; width:97px; margin-left:30%" >
            <h3 style="margin-left: 23%;">prime locations</h3>
            <span style="margin-left: 20%;">close to airport or business hub</span><br>
        </div>
    </div><br><br>
    <div class="row">
        <div class="col">
            <img src="../../assets/icon-5.jpg" style="height: 97px; width:97px; margin-left:50%" >
            <h3 style="margin-left: 40%;">Coupons & Password</h3>
            <span style="margin-left: 50%;"> On all your bookings  </span>
        </div>
        <div class="col">
            <img src="../../assets/icon-3.jpg" style="height: 97px; width:97px; margin-left:30%" >
            <h3 style="margin-left: 23%;">Secure Payments</h3>
            <span style="margin-left: 29%;"> Protected by Stripe </span>
        </div>
    </div>


</div><br><br>

<app-footer></app-footer>
