<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#" >HOoBO</a>
        <button class="navbar-toggler" type="button" data-bs-target="#Mainmenu" data-bs-toggle="collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="Mainmenu">
            <ul class="navbar-nav mb-2 mt-2 ms-auto">
                <!-- <li class="nav-item"><a routerLink="#" class="nav-link">Welcome Admin :) </a></li> -->
                <li class="nav-item"><a routerLink="/login" class="nav-link">LogOut</a></li>
            </ul>
        </div>
    </div>
  </nav>
  
